.roeme-external-link {
  margin-left: 0.5em;
}
.roeme-external-link > img {
  max-height: 1em;
}

.diag-thumb .title {
  font-size: 1.25em;
  margin-top: 0.5em;
}

.mg-thumb .title {
  font-size: 1.1em;
}

.diag-thumb,
.mg-thumb {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.125);
  border-radius: 15px;
  margin: 1em;
  transition: box-shadow 100ms;
}

.diag-thumb a,
.mg-thumb a {
  text-decoration: none;
}

.diag-thumb:hover,
.mg-thumb:hover {
  background-color: unset;
  box-shadow:
    1px 1px 15px rgba(0, 0, 0, 0.125),
    0 0 0 1px currentColor;
}

.diag-thumb a:hover div.image span,
.mg-thumb a:hover div.image span {
  background-color: unset;
}

.diag-thumb a:hover img,
.mg-thumb a:hover img {
  border: 1px solid transparent;
  opacity: 1;
}
